<p>First is the Validation (Val) Phase, where contestants are tasked with cratfing their unique approaches and applying them to the CVRR-ES dataset. The validation set consists of 2400 open-ended question-answer (QA) pairs spanning 214 unique videos. The average video duration is 22.3 seconds, with maximum and minimum durations of 183 and 2 seconds, respectively.
<br>
<br>
Validation dataset are availabe here: <a href=https://mbzuaiac-my.sharepoint.com/:f:/g/personal/uzair_khattak_mbzuai_ac_ae/EktDA83_8UxJrc23DQfrfv8Bvw41YxWVBgD3Fapxs69rRg?e=1RZIY0>validation_data.zip</a>
</p>

<p>
    There will be a public leaderboard for this phase to replicate the setup of the test phase, but the final results of the challenge will be decided solely based on the test phase. When submitting in this phase, you can choose for your results to be displayed in the public leaderboard or keep it private, in which case only you (and the challenge organisers) will have access to the results.
</p>
