<h3>Welcome to the CVRR: Complex Video Reasoning & Robustness Evaluation Challenge 2025!</h3>
<p>😊<a href="https://mbzuaiac-my.sharepoint.com/:f:/g/personal/uzair_khattak_mbzuai_ac_ae/EktDA83_8UxJrc23DQfrfv8Bvw41YxWVBgD3Fapxs69rRg?e=1RZIY0">Dataset</a>|💻<a href="https://github.com/mbzuai-oryx/CVRR-Evaluation-Suite/">Github</a>|📖<a href="https://arxiv.org/pdf/2405.03690">Paper</a>|📄<a href="https://arxiv.org/abs/2405.03690">arXiv</a></p>


<!--<div id="countdown">-->
<!--        <p style="font-family: 'Arial', sans-serif; color: cornflowerblue; display: inline-block; margin: 0;">-->
<!--          Countdown to Validation Phase:-->
<!--        </p>-->
<!--        <div id="timer" style="display: inline-block;"></div>-->
<!--</div>-->

<!--<div id="countdown1">-->
<!--        <p style="font-family: 'Arial', sans-serif; color: cornflowerblue; display: inline-block; margin: 0;">-->
<!--          Countdown to Test Phase:-->
<!--        </p>-->
<!--        <div id="timer1" style="display: inline-block;"></div>-->
<!--</div>-->

<!--<script>-->
<!--        // Set the date we're counting down to-->
<!--        var countDownDate = new Date("Jun 13, 2024 14:59:59").getTime();-->

<!--        // Update the count down every 1 second-->
<!--        var x = setInterval(function() {-->
<!--            // Get today's date and time-->
<!--            var now = new Date().getTime();-->
<!--            -->
<!--            // Find the distance between now and the count down date-->
<!--            var distance = countDownDate - now;-->
<!--            -->
<!--            // Time calculations for days, hours, minutes and seconds-->
<!--            var days = Math.floor(distance / (1000 * 60 * 60 * 24));-->
<!--            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));-->
<!--            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));-->
<!--            var seconds = Math.floor((distance % (1000 * 60)) / 1000);-->
<!--            -->
<!--            // Output the result in an element with id="timer"-->
<!--            document.getElementById("timer").innerHTML = days + "d " + hours + "h "-->
<!--            + minutes + "m " + seconds + "s ";-->
<!--            -->
<!--            // If the count down is over, write some text -->
<!--            if (distance < 0) {-->
<!--                clearInterval(x);-->
<!--                document.getElementById("timer").innerHTML = "EXPIRED";-->
<!--            }-->
<!--        }, 1000);-->
<!--</script>-->

<!--<script>-->
<!--        // Set the date we're counting down to-->
<!--        var countDownDate1 = new Date("Jun 19, 2024 14:59:59").getTime();-->

<!--        // Update the count down every 1 second-->
<!--        var x1 = setInterval(function() {-->
<!--            // Get today's date and time-->
<!--            var now1 = new Date().getTime();-->
<!--            -->
<!--            // Find the distance between now and the count down date-->
<!--            var distance1 = countDownDate1 - now1;-->
<!--            -->
<!--            // Time calculations for days, hours, minutes and seconds-->
<!--            var days1 = Math.floor(distance1 / (1000 * 60 * 60 * 24));-->
<!--            var hours1 = Math.floor((distance1 % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));-->
<!--            var minutes1 = Math.floor((distance1 % (1000 * 60 * 60)) / (1000 * 60));-->
<!--            var seconds1 = Math.floor((distance1 % (1000 * 60)) / 1000);-->
<!--            -->
<!--            // Output the result in an element with id="timer1"-->
<!--            document.getElementById("timer1").innerHTML = days1 + "d " + hours1 + "h "-->
<!--            + minutes1 + "m " + seconds1 + "s ";-->
<!--            -->
<!--            // If the count down is over, write some text -->
<!--            if (distance1 < 0) {-->
<!--                clearInterval(x1);-->
<!--                document.getElementById("timer1").innerHTML = "EXPIRED";-->
<!--            }-->
<!--        }, 1000);-->
<!--</script>-->


<!--<p>Hosted jointly with The 1st Workshop on <a href="https://www.crcv.ucf.edu/cvpr2025-vidllms-workshop">Video Large Language Models at CVPR'25</a></p>-->

<h4>Task</h4>
<p>Complex Video Reasoning and Robustness Evaluation Suite (CVRR-ES) is a comprehensive benchmark designed  to assess the reasoning and robustness capabilities of Video Large Language Models (Video-LLMs) in real-world scenarios. Unlike existing video benchmarks that focus primarily on simple video comprehension, CVRR-ES evaluates models on their ability to handle intricate reasoning tasks and robustly respond to diverse user prompts across a range of realworld contexts. The benchmark comprises 11 diverse real-world video category dimensions, including multiple actions in a single video, fine-grained action understanding, partial actions, time order understanding, non-existent actions with existent scene depictions, non-existent actions with non-existent scene depictions, continuity and object instance count, unusual and physically anomalous activities, interpretation of social context, understanding of emotional context, and interpretation of visual context. </p>

<h4>Dataset</h4>
Overall, validation split consists of 2400 open-ended question-answer (QA) pairs spanning 214 unique videos. The average video duration is 22.3 seconds, with maximum and minimum durations of 183 and 2 seconds, respectively.

<h4>Challenge Phases</h4>
<ol type="1">
    <li>Validation Phase: Participants submit their model predictions on the validation dataset. Participants can choose to make submissions public or private during this phase and the number of submissions will not be limited.</li>
    <li>Test Phase: Participants submit their model predictions on the test dataset. The final evaluation and ranking will be based on the performance on this split. The top-performing models will be awarded. Submissions are limited in this phase.</li>
</ol>

<h4>Competition Rules</h4>
<ol type="1">
  <li>Submissions must be public in the test phase to be considered for the prize.</li>
  <li>Participants need to submit a technical report (PDF file).</li>
  <li>There must be no explicit human labelling on the test videos.</li>
  <li>Test and validation data must not be used for any kind of training (supervised or self-supervised). Any other dataset can be used for training, fine-tuning, or prompting.</li>
  <li>There are no restrictions on the model side; any model is eligible for prizes.</li>
</ol>



<p><strong>For more detailed challenge information, please refer to <a href="https://www.crcv.ucf.edu/cvpr2025-vidllms-workshop">Competition Homepage</a>.</strong></p>


